#title{
  background-color: #ff4c68;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

.top-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 4.5rem;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4.5rem 0;
}

p{
  color: #8f8f8f;
}


.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

#navbarNav{
  font-size: 1.25rem;
}

.nav-item{
  padding: 0 16px;
}

.iphone{
  width: 60%;
  padding-top: 5%;
  transform: rotate(20deg);

}

.download-btn{
  margin-right: 2rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* Features */

#features{
  padding: 10% 0;
  margin: 0 10%;

}

.feature-name{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  padding-top: 3%;
  padding-bottom: 5%;

}

.feature-icon{
  color: #ef8172;
}

.feature-icon:hover{
  color: #ff4c68;
}

.feature-desc{
  color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
  padding: 5% 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
}

.testimonial-text{
  padding-left: 5%;
  line-height: 1.5rem;
  text-align: center;
}

.dog-img{
  border-radius: 100%;
}

.carousel-inner{
  padding: 0% 10%;

}

/* Press */

#press{
  background-color: #ef8172;
  text-align: center;
  padding: 5% 10%;
}

.press-img{
  width: 22%;
  padding: 0% 2%;
}

/* Pricing */

#pricing{
  padding: 5%;
    text-align: center;
}



.card-deck{
  padding: 2% 10%;

}

.card-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.pricing-head{
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  font-size: 2rem;
}

.card-body{
}

.price-val{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  padding-bottom: 2%;
}
